* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #5DD39E;
}

header {
    padding: 20px 35px;
    background-color: #5DD39E;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #BCE784;
    display: inline;
}

header nav {
    float: right;
    margin: 8px 0;
}

header nav ul li {
    display: inline;
    margin: 0 30px;
    font-weight: ligther;
    font-size: 26px;
}

.about-me {
    text-align: center;
    background-color: #348AA7;
}